[Desktop Entry]
Name=Stremio
Comment=Freedom To Stream
Icon=@HOME@/.local/share/flatpak/exports/share/icons/hicolor/scalable/apps/com.stremio.Stremio.svg
Categories=Utility;AudioVideo;Video;Player;
Keywords=Stremio;Media;Play;
Type=Application
Exec=/usr/bin/flatpak run com.stremio.Stremio %U
MimeType=x-scheme-handler/stremio;
Terminal=false
StartupNotify=true
DBusActivatable=false
X-Flatpak=com.stremio.Stremio
